@model PlantWorld.MvcConsumer.Models.CategoryDTOs.CategoryWithProductCountDTO

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Delete Categories";
}

<h2 class="text-danger mb-4" style="color: red">  هل انت متأكد من حذف هذا القسم؟ </h2>

<h2 class="mb-4 text-primary">تفاصيل القسم</h2>

<div class="card shadow-sm p-4" style="max-width: 600px;">
    <div class="mb-3">
        <h5 class="fw-bold text-secondary">الإسم:</h5>
        <p class="form-control-plaintext">@Model.Name</p>
    </div>

    <div class="mb-3">
        <h5 class="fw-bold text-secondary">الوصف:</h5>
        <p class="form-control-plaintext">@Model.Description</p>
    </div>

    <div class="mb-3">
        <h5 class="fw-bold text-secondary">عدد المنتجات في هذا القسم:</h5>
        <p class="form-control-plaintext">@Model.ProductCount</p>
    </div>

    <div class="mb-3">
        <h5 class="fw-bold text-secondary">الصورة:</h5>
        @if (!string.IsNullOrEmpty(Model.ImgUrl))
        {
            <img src="@Model.ImgUrl" alt="@Model.Name" class="img-fluid rounded shadow-sm" style="height: 150px; width: 300px; margin-bottom: 20px" />
        }
        else
        {
            <p class="text-muted">لا توجد صورة متاحه لهذا القسم.</p>
        }
    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />

        <button style="background-color: red" type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> حذف
        </button>
        <a asp-action="Index" class="btn btn-secondary ms-2">
            <i class="bi bi-arrow-left"></i> الرجوع
        </a>
    </form>
</div>